.quiz_wrapper {
    background: antiquewhite;
    max-width: 100%;
    border: 1px solid #c9c4c4;
    padding: 5px;
}

.quiz_contain .gquestion{
    display: none;
} 
.quiz_contain .gquestion.question1 { display: block; }

.gnext, .gskip , .submit{ 
    border: 1px solid;
    padding: 5px 20px;
    margin: 10px;
    display: inline-block;
}